// COMPONENT [ TEXT IMAGE BLOCK ] #####################################################################################

@import "scss/.base/module-index";

.oCard {
  // A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++

  position: relative;
  padding: 0;

  .oCardImage {
    aspect-ratio: 1/1;
    position: relative;
    background-position: center center;
    background-size: cover;
    width: 100%;
  }

  .oCardBody {
    background-color: white;
    padding: 20px;
  }

  .aTitle {
    margin-bottom: 10px;
    text-align: center;
  }
  .mText {
    text-align: center;
    ul {
      text-align: left;
      padding-left: 20px;
      li {
        p {
          margin-bottom: 0;
        }
      }
    }
    p {
      margin-bottom: 6px;
    }
  }

  // A. END +++++++++++++++++++++++++++++++++++++++++++++++

  // B. GRACEFUL DEGRADATION ++++++++++++++++++++++++++++++

  @media ($md-dn) {
  }

  // B. END +++++++++++++++++++++++++++++++++++++++++++++++

  // C. MIN-WIDTH: 768px ++++++++++++++++++++++++++++++++++

  @media ($md-up) {
    padding: 0;
    margin-bottom: 50px;

    .aTitle {
      margin-bottom: 15px;
    }

    &:nth-child(even) {
      .oCardImage {
        margin-left: 40%;
      }
      .oCardBody {
        margin-left: 0;
      }
    }

    .oCardImage {
      width: 60%;
      aspect-ratio: 4/3;
    }

    .oCardBody {
      @include vertical-align(absolute);
      margin-left: 50%;
      width: 50%;
      padding: 20px 0;
    }
  }

  // C. END +++++++++++++++++++++++++++++++++++++++++++++++

  // D. MIN-WIDTH: 992px ++++++++++++++++++++++++++++++++++

  @media ($lg-up) {
    .aTitle {
      margin-bottom: 30px;
    }

    .oCardBody {
      padding: 50px;
    }

    .mText {
      ul {
        li {
          p {
            margin-bottom: 6px;
          }
        }
      }
    }
  }

  // D. END +++++++++++++++++++++++++++++++++++++++++++++++

  // E. MIN-WIDTH: 1200px +++++++++++++++++++++++++++++++++

  @media ($xl-up) {
  }

  // E. END +++++++++++++++++++++++++++++++++++++++++++++++
}

// END OF FILE ########################################################################################################
