// COMPONENT [ TEXT IMAGE BLOCK ] #####################################################################################

@import "scss/.base/module-index";

.oCard {
  // A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++

  padding: 50px 0 0;
  position: relative;

  .oCardImage {
    aspect-ratio: 4/3;
    position: relative;
    background-position: center center;
    background-size: cover;
    margin-bottom: 40px;
    width: 60%;
  }

  .oCardBody {
    margin-left: 50%;
    width: 50%;
    z-index: 10;
    @include vertical-align(absolute);
    background-color: white;
    padding: 50px;
  }

  .aTitle {
    margin-bottom: 30px;
    text-align: center;
  }
  .mText {
    text-align: center;
    ul {
      text-align: left;
    }
    p {
      margin-bottom: 6px;
    }
  }

  &:nth-child(even) {
    .oCardImage {
      margin-left: 40%;
    }
    .oCardBody {
      margin-left: 0;
    }
  }
  // A. END +++++++++++++++++++++++++++++++++++++++++++++++

  // B. GRACEFUL DEGRADATION ++++++++++++++++++++++++++++++

  @media ($md-dn) {
  }

  // B. END +++++++++++++++++++++++++++++++++++++++++++++++

  // C. MIN-WIDTH: 768px ++++++++++++++++++++++++++++++++++

  @media ($md-up) {
  }

  // C. END +++++++++++++++++++++++++++++++++++++++++++++++

  // D. MIN-WIDTH: 992px ++++++++++++++++++++++++++++++++++

  @media ($md-up) {
  }

  // D. END +++++++++++++++++++++++++++++++++++++++++++++++

  // E. MIN-WIDTH: 1200px +++++++++++++++++++++++++++++++++

  @media ($lg-up) {
  }

  // E. END +++++++++++++++++++++++++++++++++++++++++++++++
}

// END OF FILE ########################################################################################################
